CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESP_WIFI_SSID_SET_FROM_MENUCONFIG=y
CONFIG_ESP_WIFI_PASSWORD_SET_FROM_MENUCONFIG=y
CONFIG_ESP_WIFI_SSID="LumiGridSetup"
CONFIG_ESP_WIFI_PASSWORD="lumigrid123"
CONFIG_LUMIGRID_UDP_PORT=4210
CONFIG_LUMIGRID_LED_COUNT=300
CONFIG_LUMIGRID_LED_TYPE_WS2812=y
CONFIG_LUMIGRID_LED_PIN=13
CONFIG_LUMIGRID_FPS_LIMIT=60
